<ion-header>

  <ion-navbar color='primary'>
    <ion-title>Detalhes</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <!--Se a variável filmes retornar algum valor, então o card é apresentado-->
  <ion-card *ngIf="movies">

    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/avatar.png">
      </ion-avatar>
      <h2 class="feed_name">{{movies.original_title}}</h2>
      <p class="feed_date">{{movies.release_date| date: "dd/MM/yyyy"}}</p>
    </ion-item>

    <img [src]="'https://image.tmdb.org/t/p/w300/'+ movies.backdrop_path">

    <ion-card-content>
      <p>{{movies.overview}}</p>
      <br>
      <h2>Informações Complementares</h2>
     <p><b>Língua Original:  </b> {{movies.original_language}}</p>
     <p><b>Popularidade:  </b>{{movies.popularity}}</p>
     <p><b>Gênero:</b>{{movies.genres[0].name}}</p>
     <p><b>Produção:</b>{{movies.production_companies[0].name}}</p>
   </ion-card-content>
   
  </ion-card>
  <!--
  <h2>Sugestões</h2>
  <ion-card *ngFor="let movie_sugestion of list_movie_sugestion">
      
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/imgs/avatar.png">
            </ion-avatar>
            <h2>{{movie_sugestion.original_title}}</h2>  
            <p>{{movie_sugestion.release_date| date: "dd/MM/yyyy"}}</p>
          </ion-item>
    

</ion-card>
!-->

</ion-content>
