<ion-header>
  <ion-navbar  color='primary'>
    <ion-title>
     Filmes
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  
  <div *ngIf="user != null">

    <ion-grid>
      <ion-row>
        <ion-col>
          <h5>Bem Vindo: {{ user.email }}</h5>
        </ion-col>
        <ion-col>
        </ion-col>
        <ion-col>
            <button ion-button icon-only (click)="Sair()">
                <ion-icon name="exit"></ion-icon>
            </button>
        </ion-col>
      </ion-row>
    </ion-grid>


    <ion-refresher (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
      </ion-refresher>
      <div>
        <h1>Filmes Mais Populares</h1>
      </div>
      <ion-card *ngFor="let movies of list_movie">
    
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/avatar.png">
          </ion-avatar>
          <h2>{{movies.original_title}}</h2>  
          <p>{{movies.release_date| date: "dd/MM/yyyy"}}</p>
        </ion-item>
    
        <img [src]="'https://image.tmdb.org/t/p/w300/'+ movies.backdrop_path">
    
        <ion-card-content>
          <p>{{movies.overview}}</p>
        </ion-card-content>
    
        <ion-row>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="thumbs-up"></ion-icon>
              <div>{{movies.vote_count}} Votos</div>
            </button>
          </ion-col>
          <ion-col>
            <button ion-button icon-left clear small>
              <ion-icon name="text"></ion-icon>
              <div>{{movies.popularity}} Popularidade</div>
            </button>
          </ion-col>
        </ion-row>
        <button ion-button block (click)="openDetailsMovies(movies)">Detalhes</button>
      </ion-card>
      <!--Adicionando infinite scroll-->
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
    
  </div>

  <div *ngIf="user == null">
    <br>
    <h3>Login / Cadastro</h3>
    <ion-item>
      <ion-label floating><ion-icon name='person'></ion-icon> Usuário</ion-label>
      <ion-input type="text" #usuario></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label floating><ion-icon name='lock'></ion-icon> Senha </ion-label>
      <ion-input type="password" #senha></ion-input>
    </ion-item>
    <br>
    <button ion-button block  (click)="LoginComEmail()">Login</button>
    <button ion-button block  (click)="cadastrarUsuario()">Cadastrar</button>
  </div>
</ion-content>
